<tr class="tablebody-tr">
    <td class="text-center batter_num">
        <%- player.order %>
    </td>
    <td class="tabledata">
        <p>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%- player.order %>" aria-expanded="false" aria-controls="collapse">
                <div id="name_<%- player.order %>" class="batter_name text-start">
                    <%- player.name %>
                </div>
            </button>
            <a class="text-center btn" href="/player?order=<%- player.order %>&name=<%- player.name %>">
                変更
            </a>
        </p>
        <div class="collapse" id="collapse<%- player.order %>">
            <div class="card-body">
                <ul class="list-group">
                    <% let boxArr=[player.box_1,player.box_2,player.box_3,player.box_4,player.box_5,player.box_6]; %>
                        <% let boxArrMod=[] %>
                            <% boxArr.forEach((element,index)=> { %>
                                <% if(element){%>
                                    <% boxArrMod.push(element); %>
                                        <% } %>
                                            <% }); %>
                                                <% boxArrMod.push(""); %>
                                                    <% boxArrMod.forEach((element,index)=> { %>
                                                        <li class="list-group-item">
                                                            <p>第
                                                                <%- index+1 %>打席</p>
                                                            <div id="box_<%- player.order %>-<%- index+1 %>" class="hitting_result">
                                                                <a id="<%- player.order %>-<%- index+1 %>" class="text-center" href="/batterBox?boxId=<%- player.order %>-<%- index+1 %>" onclick="getBoxResult(event)">
                                                                    <%- element %>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <% }); %>
                </ul>
            </div>
        </div>
    </td>
</tr>